<div id="page_wrapper">
  <div id="profile_image">
    <%= image_tag "profile.jpg" %>
  </div>

  <div id="content">
    <h1>Hey, I'm Chris Hayes</h1>
    <p>Welcome tacos iPhone hella waistcoat kitsch, listicle flannel master cleanse fixie pop-up single-origin coffee.</p>
    <p>Cardigan yuccie tote bag portland etsy listicle, fashion axe normcore.  Godard selfies tofu wayfarers kombucha, man bun neutra readymade ethical forage. You probably haven't heard of them echo park kogi letterpress, waistcoat intelligentsia neutra. Bushwick migas cred paleo.</p>
  </div>
</div>
